<!DOCTYPE html>
<html>
<head>
	<meta>
</head>
<body>
<h1> Tokidex !</h1>
<br>
<p>
	<% @tokimons.each do |tokimon| %>
		<p>
		<%= tokimon.name %>
		<%= link_to "View", tokimon %> |
		<%= link_to "Edit", edit_tokimon_path(tokimon) %> |
		<%= link_to "Transfer", {:confirm => "are you sure?", :action => 'delete', :id => tokimon.id}, :class => 'action delete' %>
		</p>
	<% end %>
	<br>
	<%= link_to 'Enter a new Tokimon', new_tokimon_path %>
</p>

</body>
</html>