<h2> Edit <%= @trainer.name %> </h2>

<%= form_for(@trainer) do |f| %>
 <!-- if @tokimon.error.any> %> -->
<div id="error_explanation">
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<%= f.submit "submit" %>
</div>
<% end %>